body{
  margin:0;
  font-family:Arial, sans-serif;
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.app{
  width:100%;
  max-width:420px;
  padding:30px 25px;
  text-align:center;
}

.screen{
  display:none;
}

.screen.active{
  display:block;
}

.logo{
  width:110px;
  height:110px;
  background:#A4FF00;
  color:black;
  font-size:55px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:30px;
  margin:0 auto 25px auto;
}

h1{
  color:#A4FF00;
}

input, select{
  width:100%;
  padding:14px;
  margin-bottom:15px;
  border-radius:14px;
  border:1px solid #ddd;
  background:#f7f7f7;
}

button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:16px;
  background:#A4FF00;
  font-weight:bold;
  cursor:pointer;
  margin-bottom:12px;
}

.secundario{
  background:#ff7a00;
  color:white;
}
